{% extends 'crmBundle::base.html.twig' %}
{% block body %}
<div class="container-fluid">
	<h2>Obras</h2>
	<a href="obras/agregar"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar una Obra</a>
	<div class="table-responsive">
		<table class="table table-hover table table-condensed table table-striped">
			<thead>
				<th></th>
				<th>Id</th>
				<th>Nombre</th>
				<th>Cliente</th>
				<th>Direccion</th>
				<th>Estado de la Obra</th>
				<th>FechaI Plan</th>
				<th>FechaI Real</th>
				<th>FechaF Plan</th>
				<th>Coste Real</th>
				<th>Coste Planl</th>
				<th></th>
			</thead>
			<tbody>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
